*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #262626ba;
}

.header {
  background-color: #2e2f32;
  position: sticky;
  top: 0;
  z-index: 99;
  &__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
    gap: 1rem;
    li {
      a {
        color: #fff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        opacity: 0.5;
      }
      a:hover {
        opacity: 1;
      }
      a::after {
        margin-top: 0.5rem;
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width 0.5s;
      }
      a:hover::after {
        width: 100%;
      }
    }
  }
}

.active {
  a {
    opacity: 1 !important;
  }
  a::after {
    width: 100% !important;
  }
}
