.footer {
  background-color: #2e2f32;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  &__container {
    padding: 2rem;
    span {
      color: #fff;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: 700;
      a {
        text-decoration: none;
        color: #fff;
        opacity: 1;
      }
      a:hover {
        opacity: 0.6;
      }
    }
  }
  &__top {
    background-color: #686868;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: default;
    span {
      color: #fff;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
